<!DOCTYPE html>
<head>

</head>
<body>
    <button name="list mentor" onclick="location.href='/mentors'" type="button">Mentors</button>
    <button name="list mentor" onclick="location.href='/all-school'" type="button">All-schools</button>
    <button name="list mentor" onclick="location.href='/mentors-by-country'" type="button">Mentors by Country</button>
    <button name="list mentor" onclick="location.href='/mentors'" type="button">Mentors</button>
    <button name="list mentor" onclick="location.href='/mentors'" type="button">Mentors</button>
    <button name="list mentor" onclick="location.href='/mentors'" type="button">Mentors</button>
    <button name="list mentor" onclick="location.href='/mentors'" type="button">Mentors</button>

</body>