<!DOCTYPE html>
<head>

</head>
<body>
    <button name="list mentor" onclick="location.href='/mentors'" type="button">Mentors</button>
    <button name="list mentor" onclick="location.href='/mentors'" type="button">Mentors</button>
    <button name="list mentor" onclick="location.href='/mentors'" type="button">Mentors</button>
    <button name="list mentor" onclick="location.href='/mentors'" type="button">Mentors</button>
    <button name="list mentor" onclick="location.href='/mentors'" type="button">Mentors</button>
    <button name="list mentor" onclick="location.href='/mentors'" type="button">Mentors</button>
    <button name="list mentor" onclick="location.href='/mentors'" type="button">Mentors</button>

</body>