<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <table>
        {% for something in datas %}
            <tr>
                {% for column in something %}
                    <td>{{ column }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <button name="index" onclick="location.href='/'" type="button">Back to Index</button>

</body>
</html>